


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav {
    justify-self: end;
    button {
            display: none;
    }
    ul, ul.open {
            position: relative;
            display: flex;
            background-color: transparent;
            width: auto;
            justify-content: flex-end;
    }
    ul li a {
          color: $maincolor;
          border-radius: 20px;
          padding: .5rem 1rem;
          margin-left: 0.5rem;
          transition: all .5s ease;
    }
    ul li a:hover {
            background-color: #eee;
            color: $maincolor!important;
    }
    ul li.active a {
            color: white;
    }
}
/* columns */
@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
} // end loop
/*----------- MAIN --------------*/
div.Lbuffer {
        display: none;
}
div.Sbuffer {
        display: none;
}
/*----------- FOOTER --------------*/
    
