$maincolor: rgb(87, 126, 115);
$accentcolor: rgb(6, 56, 10);
$subtlegrey: #ddd;
$translucent: rgba(255,255,255,0.9);
$mainfont: 'Josefin Sans', sans-serif;
$lightweight: 300;
$normalweight: 400;
$cbr: 1rem;
$gutter: 1vw;