div#pageWrapper {
    grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
    grid-template-columns: 150px auto;
}


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    width: 66%;
}


/*----------- NAVIGATION --------------*/
a.myjump {
    display: none;
}
nav {
    height: auto;
}



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
