/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, nav, figure.hero, div.darkGrid, h1#moreabout, div.upperGrid, div.lowerGrid, ul.logos, footer {
    max-width: 941px;
    margin:auto;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding-top: 1.5rem;
    margin-left: 2%;
}
figure.logo {
    float: left;
    margin: 0;
}
div.headerText {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}
header h1 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.75rem;
    font-weight: 600;
    margin-left: 2px;
    color: $mainblue;
}
header h2 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 9.3px;
    margin: 0;
    border-bottom: 1px solid $linegrey;
    margin-left: 3px;
    color: $linegrey;
}
/*----------- NAVIGATION --------------*/
div#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1rem;
    a {
        font-size: 2.5rem;
        color: $mainblue;
        margin: 1rem;
        text-decoration: none;
        background: transparent;
        border: none;
    }
}
nav {
    ul {
        background-color: $mainblue;
        position: absolute;
        right: 0;
        list-style-type: none;
        width: 100%;
        display: none;
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
        z-index: 999;
        margin-top: 0;
    } // end ul
    ul.open {
        display: block;
    }
    ul li {
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    ul li a {
        background-color: white;
        color: $mainblue;
        display: block;
        padding: 0.9rem;
        font-weight: 100;
        text-decoration: none;
        text-align: right;
    } // end anchor
    ul li.active a {
        background-color: white;
    }
    ul li a:hover {
        background-color: white;
    }
}

/*----------- MAIN --------------*/
figure.hero {
    margin-bottom: 0.5rem;
    img {
        max-width: 941px;
        margin: 0;
        padding: 0;
    }
}
picture.banner {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    img {
        max-width: 100%;
    }
}

div.darkWrapper {
    background-color: $darkzone;
    padding-bottom: 1rem;
}
div.darkGrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2%;
    h1, h2 {
        color: $yellowtone;

    }
    p {
        color: white;
        font-style: italic;
        font-size: 0.8rem;
    }
    ul {
        color: white;
    }
    h3 {
        color: white;
        margin: 0.2rem 0;
        font-weight: 100;
    }
    h1 {
        font-style: italic;
        margin-top: 0.3rem;
    }
    div.darkLeft {
        h2 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0.5rem;
        }
    }
    div.darkRight {
        text-align: center;
        h2 {
            margin-bottom: 0.5rem;
        }
    }
}
h1#moreabout {
    color: $mainblue;
    margin-top: 3rem;
    border-bottom: 1px solid $linegrey;
    margin-bottom: 1rem;
    margin-left: 2%;
}
div.upperGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    grid-column-gap: 20.3333px;
    margin: 0 2%;
    border-bottom: 1px solid $linegrey;
    margin-bottom: 1rem;
    div.uppercard {
        h2 {
            color: $mainblue;
            font-weight: 100;
            margin-top: 0.7rem;
            margin-bottom: 0.5rem;
        }
        p {
            color: $linegrey;
            font-size: 0.8rem;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
        img {
            width: 100%;
        }
    }
}

div.lowerGrid {
    display: grid;
    justify-items: stretch;
    grid-column-gap: 20.3333px;
    padding: 0 2%;
    h2 {
        color: $mainblue;
        font-weight: 100;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
    }
    p {
        color: $linegrey;
        font-size: 0.8rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}
div.overgraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 302px;
    button {
        background-color: $mainblue;
        border: none;
        padding: 0.3rem 1rem;
        border-radius: 0.7rem;
        color: white;
        font-weight: 400;
        font-size: 1.4rem;
        width: 80%;
        align-self: center;
    }
    span {
        color: #767676;
        text-align: center;
        margin-top: 0.8rem;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

}
div.overgraph {
    transform: translateY(-100%);
}

ul.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 1rem 0;
    li {
        margin: 0 auto;
    }

}
/*-------- FOOTER --------------*/
div.footerWrapper {
    background: linear-gradient(180deg, #0480b1, #013f63);
}
footer {
    color: white;
    padding: 1rem 0;
    font-weight: 600;
    margin-left: 1rem;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}