/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, nav, main, footer {
    max-width: 941px;
    margin:auto;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding-top: 1.5rem;
}
figure.logo {
    float: left;
    margin: 0;
}
div.headerText {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}
header h1 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.75rem;
    font-weight: 600;
    margin-left: 2px;
    color: $mainblue;
}
header h2 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 9.3px;
    margin: 0;
    border-bottom: 1px solid $linegrey;
    margin-left: 3px;
    color: $linegrey;
}
/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
figure.hero {
    margin: 0;
    padding: 0;
    img {
        max-width: 941px;
        margin: 0;
        padding: 0;
    }
}

div.darkWrapper {
    
}
/*-------- FOOTER --------------*/



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}