#headerWrapper, #navWrapper, nav, main {
    max-width: 64rem;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav {
    ul {
        border: none;
    }
    ul li a {
        color: $menuColor;
        border-radius: 0.5rem;
        background-color: white;
        margin: 0.5rem;
    }
    ul li.active a {
        background-color: rgb(218, 213, 243);
    }
    ul li a:hover {
        background-color: rgb(175, 192, 209);
    }
    ul.open {
        display: block;
    }
}
main div.cards div {
    flex-basis: 25%;
    max-height: 256px;
}
main div.cards div a {
    max-height: 256px;
}
#footerWrapper {
    max-width: 64rem;
    margin: auto;
}