/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
.swiper-wrapper {
    margin-bottom: 30px;
}
.swiper {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        display: block;
    }
    p {
        background-color: rgba(0,0,0,0.5);
        margin: 0;
        padding: 0.4rem 2vw;
        text-align: center;
        color: white;
        transform: translateY(-100%);
        position: absolute;
        width: 100%;
    }
}
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
}

/* HEADER  */
header {
	padding: .5rem 2vw;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/wideshot.JPG');
	h1 {
        font-size: 2.3rem;
        font-weight: $lightWeight;
        color: white;
    }
    h2 {
        padding-top: 0.6rem;
        color: white;
        font-weight: $lightWeight;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */


/* MAIN  */
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h1 {
    font-size: 3rem;
    padding: 0.2rem;
}
main div.cards {
    display: flex;
    flex-wrap: wrap;
}
main div.cards div {
    text-align: center;
    flex-basis: 100%;
    max-width: 400px;
    margin: auto;
}
div.cards div:nth-child(1) {
    background-image: url("../images/airlineSMALL.jpg");
}
div.cards div:nth-child(2) {
    background-image: url("../images/carsSMALL.jpg");
}
div.cards div:nth-child(3) {
    background-image: url("../images/bridgeSMALL.jpg");
}
div.cards div:nth-child(4) {
    background-image: url("../images/cityscapeSMALL.jpg");
}
main div.cards div a {
    display: block;
    width: 100%;
    height: 400px;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
main div.cards div a i {
    color: white;
    font-size: 3rem;
    margin-top: 4rem;
}
div.cards div:nth-child(1) a {
    background-color: rgb(23, 100, 30);
}
div.cards div:nth-child(2) a {
    background-color: rgb(26, 44, 94);
}
div.cards div:nth-child(3) a {
    background-color: rgb(78, 21, 64);
}
div.cards div:nth-child(4) a {
    background-color: rgb(156, 49, 23)
}
main div.cards a:hover {
    background: none;
    text-shadow: 0 0 2px;
}
main div.cards a h3 {
    color: white;
    padding: 1rem 0;
    font-size: 1.3rem;
}


/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
