/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
.swiper-wrapper {
    margin-bottom: 30px;
}
.swiper {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        display: block;
    }
    p {
        background-color: rgba(0,0,0,0.5);
        margin: 0;
        padding: 0.4rem 2vw;
        text-align: center;
        color: white;
        transform: translateY(-100%);
        position: absolute;
        width: 100%;
    }
}
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
}

/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */

#navWrapper {
    background-color: $menuColor;
}
nav {
    ul {
        display: none;
        margin: 0;
        padding: 0;
    }
    ul li.active a {
        background-color: rgba(0,0,0,0.25);
    }
    ul li a {
        display: block;
        padding: 0.75rem 2vw;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    ul li a:hover {
        background-color: rgba(0,0,0,0.5);
    }
    ul.open {
        display: block;
    }
}
nav button {
    position: relative;
    height: 44px;
    width: 44px;
    background: none;
    border: none;
    .line {
        transition: all .3s ease;
        position: absolute;
        height: 2px;
        width: 60%;
        background-color: white;
        left: 20%;
        padding: 0;
    } // end line
    .top {
        top: 29%;
    }
    .middle {
        top: 48%;
    }
    .bottom {
        top: 67%;
    }
} // end button

#hambutton.open {
    .top {
        transform: rotate(45deg);
        top: 48%;
    }
    .middle, .bottom {
        transform: rotate(-45deg);
        top: 48%;
    }

}

/* MAIN  */
main {
    padding: 0 2%;
    min-height: 10rem;
}


/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
