


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div.headWrapper {
    background-image: url(../images/header-medium.jpg);
    height: 240px;

}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
    div.maincard {
        flex-basis: 48%;
    }
}

/*----------- FOOTER --------------*/
    
