


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
    flex-direction: row;
    padding-left: 0;
    li a {

        border-top: solid 1px rgba(1, 1, 1, 0.2);
        text-align: center;
        margin-left: 0;
    }
    justify-content: space-around;
    margin-top: 0;
}
nav ul li {
    flex-basis: 25%;
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
