/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
header img {
    width: 75px;
    margin: 0;
    padding: 0;
}
header h1 {margin: 0; font-size: 4rem;}
header h2 {margin: 0; font-size: 2rem; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 0;
        background-color: rgb(95, 95, 95);
        padding-left: 0;
    }
    ul li a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: 1rem 2vw;
        border-top: solid 1px rgba(1, 1, 1, 0.2);
        } // end of ul li a
    ul li a:hover {
        background-color: rgb(206, 206, 206);
    }
    ul li.active a {
        background-color: #d4d4d4;
    }
    max-width: 75rem;
    margin: auto;
    padding: 0;

}
nav ul li:first-child a {border-left: none;}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}