/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: $normalweight;
    max-width: 75rem;
    margin: 0 auto;
}

/*----------- HEADER --------------*/
header {
    display: flex;
    margin-left: 0;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    height: 8rem;
    width: 100%;
}
div.headtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin-top: -0.5rem;
    }
    h2 {
        margin-top: -1rem;
    }
}
/*----------- NAVIGATION --------------*/
div.navWrapper {
    padding: 0;
    background-color: $maincolor;
    button {
        background-color: $maincolor;
        border: none;
        font-size: 1.8rem;
        padding: .5rem;
        color: $translucent;
        margin-top: 0.3rem;
    } // end button

    button span:nth-child(1) {
        display: block;
    }
    button span:nth-child(2) {
        display: none;
    }
    button.open span:nth-child(1) {
        display: none;
    }
    button.open span:nth-child(2) {
        display: block;
    }
}
nav {
    background-color: $maincolor;
}
nav ul.open {
    display: block;
}
nav ul {
    display: none;
}
nav ul, nav ul.open {
    margin: 0;
    list-style-type: none;
    padding: 0; // bruh
    border-top: solid 1px $translucent;
    
    
    li {
        margin: 0;
        border-bottom: solid 1px $translucent;
    }
    li a {
        display: block;
        padding: .9rem 2vw;
        text-decoration: none;
        color: $translucent;
        font-weight: $lightweight;
    }
    li.active a {
        background-color: darken($maincolor, 8%);
    }
    li a:hover {
        background-color: darken($maincolor, 4%);
    }
}
/*----------- MAIN --------------*/
div.mainWrapper {
    float: left;
    width: 100%;
    margin: auto;
}
main {
    margin: auto;
    min-height: 10rem;
    p {
        display: flex;
        flex-basis: 100%;
        width: 100%;
    }
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
}
picture.banner {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    img {
        max-width: 100%;
    }
}
div.sidebyside {
    display: flex;
    flex-direction: row;
}
/*----------- FOOTER --------------*/
div.footWrapper {
    footer {
        padding: .5rem 2%;
        text-align: center;
        max-width: 75rem;
        font-weight: $lightweight;
        margin-top: 0.5rem;
    }
    background-color: $subtlegrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 75rem;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }