/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: $normalweight;
}
main {
    img {
            position: relative;
            height: 50px;
            width: 50px;

    }
    img:hover {
            animation: bouncespin 0.5s 1;

            @keyframes bouncespin {
                    0% {bottom: 0px; transform: rotate(0deg);}
                    50% {bottom: 20px;}
                    100% {bottom: 0px; transform: rotate(360deg);}
            }
    }
}

/*----------- HEADER --------------*/
div.headWrapper {
    color: black;
    background-color: white;
    height: 100px;

}
header {
    padding: 1rem 2%;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
div.navWrapper {
    padding: 0;
    background-color: $maincolor;
    button {
        background-color: $maincolor;
        border: none;
        font-size: 1.8rem;
        padding: .5rem;
        color: $translucent;
        margin-top: 0.3rem;
    } // end button
}
nav {
    background-color: $maincolor;
}
nav ul.open {
    display: block;
}
nav ul {
    display: none;
}
nav ul, nav ul.open {
    margin: 0;
    list-style-type: none;
    padding: 0; // bruh
    border-top: solid 1px $translucent;
    
    
    li {
        margin: 0;
        border-bottom: solid 1px $translucent;
    }
    li a {
        display: block;
        padding: .9rem 2vw;
        text-decoration: none;
        color: $translucent;
        font-weight: $lightweight;
    }
    li.active a {
        background-color: darken($maincolor, 8%);
    }
    li a:hover {
        background-color: darken($maincolor, 4%);
    }
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;

div.deck {
    display: flex;
    flex-wrap: wrap;
}
div.maincard {
    border: 2px solid $accentcolor;
    box-shadow: 3px 2px 6px #CCC;
    border-radius: $cbr;
    margin: 1rem 1%;
    text-align: center;
    flex-basis: 100%;
    background-color: $subtlegrey;
        section {
                font-size: 1.5rem;
                padding: 1rem 0;
                color: $maincolor;
                border-top-left-radius: $cbr;
                border-top-right-radius: $cbr;
        }
        img {
                margin: 1rem;
        }
        p {
                padding: 1rem 2vw;
        }
        a {
                display: block;
                text-decoration: none;
                padding: 1rem 0;
                background-color: $maincolor;
                color: white;
                border-radius: $cbr;
                text-align: center;
                margin: 1rem 2vw;
        }
        a:hover {
            background-color: lighten($maincolor, 10);
        }
}
}

/*----------- FOOTER --------------*/
div.footWrapper {
    footer {
        padding: .5rem 2%;
        text-align: center;
        max-width: 60rem;
        font-weight: $lightweight;
        margin-top: 2rem;
    }
    background-color: $subtlegrey;
}



/*----- Clearfix: Force an Element not to collapse -----*/